extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Courtney Berry

        p.lead.text-light
          | Full Stack JavaScript Developer

        .portfolio-bio
          p
            | I am currently pursuing my B.S. in Computer Information Systems at the University of Houston in Houston, TX.  
            |  I have decided to spend my spare time pursuing new skills to enhance my university learning experience. 
            |  An example of this is pursuing my Treehouse Full-Stack TechDegree online, during which I have broadened my skills, 
            | and have put myself in a position to excel and grow in my university coursework in the next coming semesters. 
            |  I am currently a member of AITP and the Computer Science Club at UH, and am a member of Women Who Code - Houston.  
            |  For the past several semesters, I have been a 4.0 student and plan to work hard to continue this throughout my college career.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML5
          li CSS3
          li JavaScript
            ul
              li JQuery
              li Node.js
              li Express
                ul
                  li Pug
          li Technical Communication
          li Organization
          li Time Management
          li Collaboration
        h6 Contact Info

        
        ul
          li (614)327-4480
          li cmberry27@yahoo.com

        a.button.expanded(href='https://www.linkedin.com/in/courtney-berry-675b49196/') LinkedIn
        a.button.expanded(href='https://github.com/courtneyberry27') GitHub
        a.button.expanded(href='https://www.instagram.com/courtneyberry27/') Instagram
  nav.grid-container.portfolio-breadcrumb
    
  